[
	{
		"publishedAt": "2025-10-28",
		"body": "サイトをリニューアルしました"
	},
	{
		"publishedAt": "2025-10-12",
		"body": "note「***」を公開しました！ [記事はこちら](https://note.com/yumilc)"
	},
	{
		"publishedAt": "2024-04-03",
		"body": "こんにちは！ゆーみるしーです！よく「ゆーみるしーって何やってるの？」「いつ聞いてもなんか違うことやってる」って言われるので、何やってるかまとめたサイトを作りました！お仕事のお知らせや趣味の進捗などなどを発信していこうと思います。よろしくお願いします！"
	}
]
